<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyName</key>
	<string>Miso Film ApS</string>
	<key>helpURL</key>
	<string>https://kb.caresupport.dk/kunder/miso-film/</string>
	<key>logoUrl</key>
	<string>https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e8109726-9708-48ac-b7ae-68e564aa6843/df0erhv-8a3da1e8-70e8-48d0-9e95-e5d71ba5d6f9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U4MTA5NzI2LTk3MDgtNDhhYy1iN2FlLTY4ZTU2NGFhNjg0M1wvZGYwZXJodi04YTNkYTFlOC03MGU4LTQ4ZDAtOWU5NS1lNWQ3MWJhNWQ2ZjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qxlqoDf95NK64-mciUUZTSLIL8s9hIyiHDSGNNtUYtw</string>
	<key>servers</key>
	<array>
		<dict>
			<key>address</key>
			<string>https://fremantlemedia.sharepoint.com/sites</string>
			<key>description</key>
			<string>These files can be worked in collaboratively by multiple people at the same time.</string>
			<key>method</key>
			<string>web</string>
			<key>mountPoint</key>
			<string>~/Library/CloudStorage/OneDrive-Deltebiblioteker–Fremantle</string>
			<key>name</key>
			<string>Fællesdrev - DK, NO, SE</string>
			<key>paths</key>
			<array>
				<dict>
					<key>description</key>
					<string>This folder contains all projects and timelines sheets.</string>
					<key>localPath</key>
					<string>DNK MSO - Projects and Timelines - Dokumenter</string>
					<key>name</key>
					<string>Projects and Timelines</string>
					<key>path</key>
					<string>dnk-mso-projects-timelines/Shared%20Documents</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>address</key>
			<string>server.misofilm.dk</string>
			<key>ldapUrl</key>
			<string>server.misofilm.dk</string>
			<key>method</key>
			<string>smb</string>
			<key>name</key>
			<string>Miso Film DK</string>
			<key>paths</key>
			<array>
				<dict>
					<key>description</key>
					<string>Mappen vi bruger til at dele indhold på tværs af landende</string>
					<key>name</key>
					<string>00. SHARED</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark/00.%20SHARED</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Den danske mappe. </string>
					<key>name</key>
					<string>Danmark</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Produktioner der er i produktionsfasen</string>
					<key>name</key>
					<string>IN PRODUKTION</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark/02.%20IN%20PRODUCTION</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Produktioner under udvikling</string>
					<key>name</key>
					<string>IN DEVELOPMENT</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark/01.%20IN%20DEVELOPMENT</string>
				</dict>
				<dict>
					<key>description</key>
					<string></string>
					<key>name</key>
					<string>Medarbejdermappe</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark/06.%20MISO%20FILM</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Mappen hvor scannede elementer fra printeren findes</string>
					<key>name</key>
					<string>SCANS</string>
					<key>path</key>
					<string>Miso%20Film%20Denmark/SCANS</string>
				</dict>
			</array>
			<key>username</key>
			<string>$EMAIL</string>
		</dict>
		<dict>
			<key>address</key>
			<string>server.misofilm.dk</string>
			<key>ldapUrl</key>
			<string>server.misofilm.dk</string>
			<key>method</key>
			<string>smb</string>
			<key>name</key>
			<string>Miso Film SE &amp; NO</string>
			<key>paths</key>
			<array>
				<dict>
					<key>description</key>
					<string>Den svenske mappe på serveren (kræver særlig adgang)</string>
					<key>name</key>
					<string>Miso Film Sweden</string>
					<key>path</key>
					<string>Miso%20Film%20Sweden</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Den norske mappe på serveren (kræver særlig adgang)</string>
					<key>name</key>
					<string>Miso Film Norway</string>
					<key>path</key>
					<string>Miso%20Film%20Norway</string>
				</dict>
			</array>
			<key>username</key>
			<string>$EMAIL</string>
		</dict>
		<dict>
			<key>address</key>
			<string>https://fremantlemedia.sharepoint.com/sites/DNKMSO-Tidsregistrering</string>
			<key>method</key>
			<string>web</string>
			<key>name</key>
			<string>SharePoint: Tidsregistrering</string>
			<key>paths</key>
			<array>
				<dict>
					<key>description</key>
					<string>Arbejdsgiver administreret tidsregistreringsystem. Her kan du registrerer dine arbejdstimer, for at overholde EU's regulativ</string>
					<key>name</key>
					<string>Tidsregistrering</string>
					<key>path</key>
					<string>Shared%20Documents/Forms/AllItems.aspx</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>subtitle</key>
	<string>Adgang til server og sharepoint</string>
</dict>
</plist>
