<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>APPLE TREE OPERATIONS</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FAPPLE%20TREE%20OPERATIONS&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - APPLE TREE OPERATIONS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BUSINESS INTEL</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FBUSINESS%20INTEL&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - BUSINESS INTEL</string>
		</dict>
		<dict>
			<key>name</key>
			<string>COMPLETED PROD</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FCOMPLETED%20PROD&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - COMPLETED PROD</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DEVELOPMENT</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FDEVELOPMENT&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - DEVELOPMENT</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FIRMAPOLITIK</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FFIRMAPOLITIK&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - FIRMAPOLITIK</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PRODUCTIONS</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FPRODUCTIONS&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - PRODUCTIONS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TEMPLATES &amp; LOGOS</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?newTargetListUrl=%2Fsites%2Faeblerne%2FDelte%20dokumenter&amp;viewpath=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FTEMPLATES%20%26%20LOGOS&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - TEMPLATES &amp; LOGOS</string>
		</dict>
	</array>
</plist>
