<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Testmappe 1</string>
			<key>description</key>
			<string>Her indsættes potentiel beskrivelse af mappe 1</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2Ftest%26%201%202%203&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>+Æblerne - test&amp; 1 2 3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TestMappe 2</string>
			<key>description</key>
			<string>Her indsættes potentiel beskrivelse af mappe 2</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FTestMappe%202&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>Test mappe nr 2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Testmappe 3</string>
			<key>description</key>
			<string>Her indsættes potentiel beskrivelse af mappe 3</string>
			<key>path</key>
			<string>Delte%20dokumenter/Forms/AllItems.aspx?id=%2Fsites%2Faeblerne%2FDelte%20dokumenter%2FTestMappe1&amp;viewid=62ab834e%2Db54a%2D4ade%2Da767%2D20c0ee900ae2</string>
			<key>localPath</key>
			<string>Test mappe nr 3</string>
		</dict>
	</array>
</plist>
