<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
    <key>name</key>
    <string>Miso Film Denmark</string>
    <key>path</key>
    <string>Miso Film Denmark</string>
</dict>
<dict>
    <key>name</key>
    <string>SCANS</string>
    <key>path</key>
    <string>Miso Film Denmark/SCANS</string>
</dict>
</array>
</plist>