<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
    <key>name</key>
    <string>PA-Lister</string>
    <key>path</key>
    <string>sites/NimbusLister-PA</string>
</dict>
<dict>
    <key>name</key>
    <string>Producer-Lister</string>
    <key>path</key>
    <string>sites/NimbusLister-Producer</string>
</dict>
<dict>
							<key>name</key>
							<string>Tidsregistrering</string>
							<key>path</key>
							<string>sites/tidsregistrering/Delte%20dokumenter</string>
							<key>description</key>
							<string>Arbejdsgiver administreret tidsregistreringsystem. Her kan du registrerer dine arbejdstimer, for at overholde EU's regulativ</string>
						</dict>
</array>
</plist>