<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Julie Rix Bomholt</string>
			<key>path</key>
			<string>sites/produktioner-dk-prod/Delade%20dokument/Forms/AllItems.aspx?id=%2Fsites%2Fproduktioner%2Ddk%2Dprod%2FDelade%20dokument%2FJR&amp;viewid=430c32d1%2Dd17d%2D461e%2D97ff%2D52b298a6a397</string>
			<key>localPath</key>
			<string>Produktioner - DK-Prod - JR</string>
		</dict>
	</array>
</plist>
